.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
   0% {
    transform: translateX(0px) rotate(0);
  }
  100% {
    transform: translateX(300px) rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear alternate;
  }
}
