/* .App {
  text-align: center;
} */
/* @keyframes slidein {
  from { left: 0; } to { left: 100px; }
} */
.App-logo {
  height: 10vmin;
  pointer-events: none;
  /* margin-left: 200px; */
  /* animation: slidein 3s linear 1s infinite alternate ; */
}



@keyframes App-logo-spin {
   0% {
    transform: translateX(0px) rotate(0);
  }
  100% {
    transform: translateX(300px) rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear alternate;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */

